.logoCody {
  width: 45px;
  margin-right: 10px;
  border-radius: 100px;
}
.offcanvas-body {
  margin-left: 20%;
}
.navbar {
  background: linear-gradient(90deg, #000000, #395566 70%, black);
  height: 70px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(254, 254, 254)!important;
  font-size: 17px;
}
#ingresar-btn, #registrarse-btn{
background-color:#03809c;
color: white;
}
#ingresar-btn:hover, #registrarse-btn:hover{
  background-color:#025c6e;
  color: white;
  }
#inicioLink:hover,
#climaLink:hover,
#graficosLink:hover,
#noticiasLink:hover,
#comunidadLink:hover,
#nosotrosLink:hover,
#IniciarLink:hover,
#RegistrarmeLink:hover {
  color: #0095c0 !important;
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.603);
}

#lineNavbar {
  display: none;
}
/* .navbar .navbar-nav .nav-item .buttonsNavbar a{
  background-color: violet;
} */



@media (max-width: 991px) {
  .sidebar {
    background: linear-gradient(90deg, #000000, #23475e 100%, black);
    color: white;
    backdrop-filter: blur(10px);
  }

  #lineNavbar {
    display: block;
    color: #67cae0;
    margin: 0px 20px 25px 20px;
  }
  .navbar-nav {
text-align: center;
justify-content: end;
  }

}
