
#Noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(120px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .row .col-lg-4,
  .row .col-md-6,
  .row .col-sm-12 {
    animation: fadeIn 1s ease;
  }
  
  
  .container {
    width: 90%;
    max-width: 1200px;
  }
  

  h1 {
    margin: 5rem 0;
    font-size: 2.5rem;
  }
  

  .card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 200px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #6c757d;
  }
  h1 {
    margin: 5rem auto; 
    font-size: 2.5rem;
    text-align: center;
  }