.mobile {
  display: none;
}
/* // trASHCAN */
.material-symbols-outlined{
  color: rgb(96, 95, 95);
font-size: 20px;
}

.publicacion_fecha{
  font-size: 0.9rem;
  color: grey;
}
/* //nombre usuario navbar temporal: para saber quien está loggeado  */
.nombreUsuarioNavbar{
color: white;
margin-left: 60px;
font-size: 1rem;
margin-top: 8px;
}
.cargar_imagen{
background-color: white;
color: rgb(5, 5, 5);
width: 100%;
padding: 4px;
margin: 3px;
border-radius: 10px;
}

.form_clase{
  width: 100%;
}

                               /* PROPIEDADES DEL BOTON DESPLEGAR */
#radio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.trashCan {
border:none; 
 width: min-content;
 height: min-content;
cursor: pointer;
background-color: transparent;
}

                                  /* BOTON ELIMINAR PUBLICACION */


                                  /* PARTE IZQUIERDA DE LA PÁGINA, TEXTO */

.tituloJumbotron {
  color: #000000;
  font-family: arial;
  text-align: center;
  margin-top: 35px;
  background: rgb(241, 239, 239);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.textoJumbotron {
  font-family: arial, sans-serif;
  text-align: justify;
  font-size: 1rem;
  color: black;
  background: rgb(241, 239, 239);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

                                   /* PARTE IZQUIERDA DE LA PÁGINA, ESTILO */


#left-part {
  width: 400px;
  background: radial-gradient(
    circle,
    rgba(103, 159, 193, 1) 0%,
    rgba(12, 18, 22, 1) 100%
  );
  padding: 10px;
  margin-top: 70px;
  color: #000000;
}
.jumbotron {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  margin: 20px;
}

.jumbotron h1 {
  font-size: 1.4rem;
  text-align: center;
}
.jumbotron p {
  font-size: 0.9rem;
  text-align: justify;
}
#community {
  padding: 10px;
  margin: 65px 0px 100px 60px;
  border: 0px solid rgba(209, 204, 204, 0.695);
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(103, 159, 193, 1) 0%,
    rgba(12, 18, 22, 1) 100%
  );
  min-height: 100vh;
  min-width: 60%;
  max-width: 60%;
}
                                             /* FOTO DE PERFIL TEMPORAL  */
#profilePic {
  border-radius: 50%;
  margin-right: 10px;
  width: 33px;
  height: 30px;
}

/* BOTON PUBLICAR */
#publish-btn {
  margin: 2px;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px;
  height: min-content;
  background: linear-gradient(80deg, #4b91f7 0%, #367af6 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  color: white;
}
/*  NUEVA PUBLICACION */
#newPostField {
  width: 100%;
  height: 70px;
  resize: none;
  border-radius: 5px;
  border: 1px solid rgba(189, 188, 188, 0.429);
  outline: none;
}

/* SECCION DE PUBLICACIONES Y COMENTARIOS  */

.publicacion-container {
  margin: 8px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  text-align: justify;
}

#newReplySection {
  padding: 10px;
}
/* TEXTAREA PARA ESCRIBIR COMENTARIO A PUBLICACION PRINCIPAL */

#newCommentField {
  height: 30px;
  resize: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(189, 188, 188);
  width: 100%;
  overflow: hidden;
  outline: none;
}

#sendComment-btn {
  font-size: 0.95rem;
  margin-left: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
  height: min-content;
}

.publicacionCreada {
  padding: 6px;
  word-wrap: break-word;
}

.publicacion_nombre{
  color:#0380a2;
  font-weight: 500;
  font-size: 1.1rem;
}

.comentarios_contenedor{
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 5px;
  width:90%;
   margin:0px 20px 5px 20px;
}
.comentarios_publicados {
  display: flex;
   padding: 2px;
   width: 100%;
}
.comentario_txt{
  width: 100%;
}
.comentario_nombre{
  width: fit-content;
color:#03a1cd;
font-size: 1rem;
font-weight: 500;
margin-right: 8px;
}
.eliminarComentario{
  height: fit-content;
  align-items: end;
}

/* LIKE BTN: */
.like-btn img {
  filter: invert(26%) sepia(0%) saturate(2872%) hue-rotate(358deg)
    brightness(84%) contrast(79%);
}

.like-btn {
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: none;
  width: 50px;
  height: 32px;
}
button.active {
  border-radius: 5px;
  animation: like-btn-Animation 0.6s both;
}
button.active img {
  filter: invert(39%) sepia(93%) saturate(3760%) hue-rotate(219deg)
    brightness(100%) contrast(93%);
}
.likesCounter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: none;
  width: 50px;
  height: 32px;
}

.like-btn-section {
  justify-content: end;
  align-items: center;
  padding: 3px;
  margin: 4px;
}
@keyframes like-btn-Animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 991px) {
  #left-part {
    display: none;
  }
  .mobile {
    display: initial;
  }
  #community {
    margin: 60px 0px 0px 0px;
    min-width: 60%;
    max-width: 100%;
  }
  .tituloJumbotron {
    padding: 10px;
    font-size: 1.5rem;
  }
  .textoJumbotron {
    padding: 25px;
    font-size: 1.1rem;
    text-align: justify;
  }
  .jumbotron {
    margin: 0;
  }
}
