.contenedorModal {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  position: fixed;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modalEstilo {
  width: 50%;
  height: 30%;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.cerrarModal{
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}
.aceptar_modal,
 .cerrar_modal{
  text-align: center;
  margin: 2px;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px;
  height: 30px;
  background: #03809c;
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  color: white;
}
.aceptar_modal:hover,
 .cerrar_modal:hover {

  background-color:#00B0E0;

}
.contenedorCerrar{
width: fit-content;
}
.mobile {
  display: none;
}
.backk{
  background: radial-gradient(
    circle,
    rgb(56, 112, 147) 0%,
    rgba(12, 18, 22, 1) 100%
  );}

.botones_user{
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
}


.form_clase {
  width: 100%;
}

/* PROPIEDADES DEL BOTON ELIMINAR */
#radio {
  width: 100%;
  display: flex;
  justify-content: end;
}

.trashCan {
  border: none;
  width: min-content;
  height: min-content;
  cursor: pointer;
  background-color: transparent;
}
/* // btn eliminar, btn editar, btn like*/
.material-symbols-outlined {
  color: rgba(1, 1, 1, 0.792);
  font-size: 25px;
}
.material-symbols-outlined:hover {
color:#0190BB;
}
/* PARTE IZQUIERDA DE LA PÁGINA, TEXTO */

.tituloJumbotron {
  color: #ffffff;
  font-family: arial;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
}
.textoJumbotron {
  font-family: arial, sans-serif;
  text-align: justify;
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  font-size: 1rem;
}

/* PARTE IZQUIERDA DE LA PÁGINA, ESTILO */
#left-part {
  width: 100%;
  min-height: fit-content;
  padding: 5px;
  margin-top: 70px;
  color: #000000;

}
.jumbotron {
  padding: 10px;
 
}

.jumbotron h1 {
  font-size: 1.4rem;
  text-align: center;
}
.jumbotron p {
  font-size: 0.9rem;
  text-align: justify;
}
#community {
  display: flex;
  align-content: center;
  padding: 10px;
  border: 0px solid rgba(209, 204, 204, 0.695);
  border-radius: 10px;
  /* background: radial-gradient(
    circle,
    rgba(103, 159, 193, 1) 0%,
    rgba(12, 18, 22, 1) 100%
  ); */
  min-height: 100vh;
  width: 100%;
}

/* BOTON PUBLICAR */
#btn-publicar {
display: flex;
justify-content: center;
 margin-top: 5px; 
}

.btn-publicar{
  text-align: center;
  width: 15%;
  margin: 2px;
  font-size: 0.95rem;
  border: none;
  border-radius: 5px;
  height: 30px;
  background: #03809c;
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  color: white;
}

.btn-publicar:hover{
  background-color:#00B0E0;
}
/*  NUEVA PUBLICACION */
#newPostField {
  width: 100%;
  height: 70px;
  resize: none;
  border-radius: 5px;
  border: 1px solid rgba(189, 188, 188, 0.429);
  outline: none;
}

/* SECCION DE PUBLICACIONES Y COMENTARIOS  */

.publicacion-container {
  margin: 8px;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  text-align: justify;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

#newReplySection {
  padding: 10px;
}
/* TEXTAREA PARA ESCRIBIR COMENTARIO A PUBLICACION PRINCIPAL */

#newCommentField {
  height: 30px;
  padding: 5px;
  resize: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(189, 188, 188);
  width: 100%;
  overflow: hidden;
  outline: none;
  font-size: 0.9rem;
}

.btn-enviar {
  font-size: 0.95rem;
  margin-left: 6px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: #03809c;
  height: 33px;
  align-items: center
  }

    .btn-enviar:hover{
      background-color:#00B0E0;

    }

.publicacionCreada {
  padding: 6px;
  word-wrap: break-word;
}
/* Encabezado publicación */
.nombreYfecha{
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: fit-content;
    align-self: center;

}
.publicacion_nombre {
  color: #3b3c3c;
  font-weight: 500;
  font-size: 1rem;
  align-self: center;
  width: fit-content;
}
/* createdAt */
.publicacion_fecha {
  display: flex;
  min-width: max-content;
  margin-left: 10px;
  font-size: 0.8rem;
  align-self: center;
}

.comentarios_contenedor {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 5px;
  width: 90%;
  margin: 0px 20px 5px 20px;
  padding: 5px;
}
.comentarios_publicados {
  display: flex;
  padding: 2px;
  width: 100%;
}
.comentario_txt {
  width: 100%;
}
.comentario_nombre {
  width: fit-content;
  color: rgb(62, 65, 67);
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 8px;
}
.eliminarComentario {
  height: fit-content;
  align-items: end;
}

/* LIKE BTN: */
.contenedor_like{
  width: 100%;
  display: flex;
  justify-content: end; /* Corregido aquí: utilizar flex-end en lugar de end */
}

.like-btn img {
  filter: invert(26%) sepia(0%) saturate(2872%) hue-rotate(358deg)
    brightness(84%) contrast(79%);
}

.like-btn {
  align-items: center;
  background-color: transparent;
  border-style: none;
  width: 50px;
  height: 32px;
}
.like-btn.active {
  border-radius: 5px;
  animation: like-btn-Animation 0.6s both;
}
.like-btn.active span {
  filter: invert(39%) sepia(93%) saturate(3760%) hue-rotate(219deg)
    brightness(100%) contrast(93%);
}

/* .active-btn{
}
.inactive-btn{
} */

/* .likesCounter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-style: none;
  width: 50px;
  height: 32px;
} */
/* 
.like-btn-section {
  justify-content: end;
  align-items: center;
  padding: 3px;
  margin: 4px;
} */
/* @keyframes like-btn-Animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */
@media (max-width: 991px) {
  #left-part {
    display: none;
  }
  .mobile {
    display: initial;
  }
  #community {
    margin: 60px 0px 0px 0px;
    min-width: 60%;
    max-width: 100%;
  }
  .tituloJumbotron {
    padding: 10px;
    font-size: 1.5rem;
  }
  .textoJumbotron {
    padding: 25px;
    font-size: 1.1rem;
    text-align: justify;
  }
  .jumbotron {
    margin: 0;
  }

  #radio {
    width: 100%;
  }
  @media (max-width: 740px) {
    #radio {
      width: 65%;
    }
    .nombreYfecha{
      display: flex;
      flex-direction: column;
    }
  }


  @media (max-width: 530px) {

    .nombreYfecha{
      display: flex;
      flex-direction: column;
    }
    #radio {
      width: 50%;
    }
  }

}
