.texto_contacto{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
}

  .formulario2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 40%;
    padding-top: 4%;
    padding-bottom: 3%;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    font-family: 'Calibri';
    color: black;
    overflow: hidden;
    backdrop-filter: blur(20px);
    background: #f7fcfc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
    margin-bottom: 40px;
  }
  
  .contact-form h2 {
    color: rgb(2, 45, 83);
    margin-bottom: 2%;
    margin-top: 1%;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 80%;
    background: #e4eef879;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 4%;

    border: 1px solid #acc3f5;
    font-family: 'calibri';
    font-size: 14px;
    color: rgb(2, 45, 83);
  }
  
  .contact-form button {
    width: 45%;
    background: #03809c;
    border: none;
    padding: 8px;
    color: white;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    border-radius:6px;
  }
  
  .contact-form button:hover {
    width: 45%;
    background: #025c6e;
    border: none;
    padding: 8px;
    color: white;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    border-radius:6px;
  }
  
  .contact-form .texto_form {
    color: rgb(6, 55, 99);
  }


  @media (max-width: 1000px) {

    .formulario2 {
      width: 80%;
      height: 40%;
      padding-top: 4%;
      padding-bottom: 3%;
      margin: auto;
      margin-top: 5%;

  }
}