#logoCody {
  width: 45px;
  margin-right: 10px;
  border-radius: 100px;
}

.hidden {
  display: none;
}
.underline {
  border-bottom: 1px solid #0095c0;
}
.navbar {
  background: linear-gradient(90deg, #000000, #395566 70%, black);
  height: 70px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(254, 254, 254) !important;
  font-size: 17px;
}
#inicioLink:hover,
#climaLink:hover,
#graficosLink:hover,
#noticiasLink:hover,
#comunidadLink:hover,
#nosotrosLink:hover,
#RegistrarmeLink:hover {
  color: #0095c0 !important;
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.603);
}
#IniciarLink {
  /* margin-left: 280px; */
  border: 1px solid #0095c0;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#IniciarLink:hover {
  background-color: #03809c;
  border-radius: 5px;
  border-radius: 100px;
  box-sizing: border-box;
  color: white;
}
.auth_options {
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}
.cerrar_sesion {
  color: white;
  margin-left: 15px;
}
#lineNavbar {
  display: none;
}
.nombreUsuarioNav {
  color: white;
  font-size: 1rem;
  margin-top: 10px;
}
@media (max-width: 1200px) {
  #logoCody {
    width: 40px;
    margin-right: 10px !important;
    margin: 10px;
    border-radius: 100px;
  }

}

@media (max-width: 991px) {
  .sidebar {
    background: linear-gradient(90deg, #000000, #23475e 100%, black);
    color: white;
    /*backdrop-filter: blur(10px);*/
  }
  #lineNavbar {
    display: block;
    color: #67cae0;
    margin: 0px 20px 25px 20px;
  }
  .navbar-nav {
    text-align: center;
    justify-content: end;
  }
  .underline {
    border: none;
  }

  #IniciarLink {
    width: fit-content;
    display: flex;
    align-self: center;
    margin-bottom: 10px;

  }
  .cerrar_sesion {
    color: white;
    margin-left: 0px;
    text-align: center;
  }
}
