
#Noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.cargando{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.loader{
width: 100px;
height: 100px;
border: solid 5px #123038;
border-top: solid 5px #03809c;
border-radius: 50%;
animation: loader_screen .8s linear infinite;
}
@keyframes loader_screen {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg);
  }
  
}
.titulo_loader{
animation: titulo_loader 1s alternate infinite ease-in-out;
}

@keyframes titulo_loader {
  0%{
opacity: .2;  }
  100%{
opacity: 1;  }
  
}
.loadingNoticias{
  height: 70h;
}
  .textoNoticias{
    margin-top: 100px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.CardsNews{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: space-between;
  justify-content: center;
}
  
.row .col-lg-4,
.row .col-md-6,
.row .col-sm-12 {
  animation: fadeIn 1s ease;
}
  
  
.containernews {
  width: 80%;
  min-height: 100vh;
  max-width: 1200px;
  align-items: center;
  
}
 
.containernews .card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-left: 20px;
}
  
.containernews .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  height: 180px;
}
  
.containernews .card-body {
  text-align: center;
}
  
.containernews .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
  
.containernews .card-text {
  font-size: 1rem;
  color: #6c757d;
}
.containernews h1 {
  margin: 5rem auto; 
  font-size: 2.5rem;
  text-align: center;
}

.load-more-news {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.load-more-news button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.load-more-news button:hover {
  background-color: #0056b3;
}

* es de la noticias que aparece arriba */

.selected-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 10px;
}

.selected-news-image {
  max-width:400px; /* Tamaño máximo de la imagen */
  height: auto;
  margin-right: 10px;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.35); 
}

.selected-news-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.selected-news-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 100px;
  background-color: #DBF1FD;
  padding: 1%;
  text-align: center;
}

.selected-news-description {
  font-size: 1rem;
  color: #6c757d;
  flex: 1;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.15);
  /*backdrop-filter: blur(10px);*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

