.containerabout .card-img-top {
  object-fit: cover;
  height: 65%;
  width: 100%;
  border-radius: 50%;
}

.containerabout .card {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
.containerabout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerabout .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.containerabout .card-body {
  text-align: center;
}
.containersobrenosotros .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.containersobrenosotros .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.containersobrenosotros textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}

.containersobrenosotros button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.containersobrenosotros h1 {
  margin: 5rem auto; 
  font-size: 2.5rem;
  text-align: center;
}